<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">
    </head>
    <body>

        <div id="app">
            <div class="container vh-100 vw-100 d-flex justify-content-center align align-items-center">

                <div class="bg-info p-5 rounded-2 border border-2 border-dark">
                    <h1>Todo List</h1>
                    <input class="p-1 mb-4 me-2 border border-2 border-dark" type="text" v-model="newTaskText" placeholder="Add task" >
                    <button class="mb-2 rounded-2 p-1 bg-primary text-white" @:click="addTask">Aggiungi</button>
                    <ul class="m-0 p-0">
                        <li v-for="task in todo" class="d-flex justify-content-between">
                            <span class="bg-primary rounded-2 pe-2 ps-2 mt-2 mb-2 text-white" v-if="task.done" style="text-decoration:line-through">{{ task.text }}</span>
                            <span class="bg-primary rounded-2 pe-2 ps-2 mt-2 mb-2 text-white" v-else>{{ task.text }}</span>
                            <button v-if="task.done" class="delete bg-success rounded-2 d-flex justify-content-center align-items-center " @:click="removeTask(task)">x</button>
                            <button v-else class=" delete bg-danger rounded-2 d-flex justify-content-center align-items-center" @:click="removeTask(task)">x</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./assets/js/main.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    </body>
</html>